
<hr/>
<h2 align="center"><p style="color: rgb(255, 130, 80);">Welcome to Bookess User Application</p></h2>
<div align="left">
    <h3>User SignIn</h3>
    <form #userRef="ngForm" (ngSubmit)="userLogin(userRef)">
      <label>UserName: </label>
      <input type="text" name="username" required=""  ngModel/><br/>
      <label>Password: </label>
      <input type="password" name="password" required="" ngModel /><br/>
      <input type="submit" value="Login"/> &nbsp;
      <input type="reset" value="reset" />
    </form>
    <br/>
    {{userLog}}
</div>

<div align="right">
   <h3>User SignUp</h3>
    <form #userRf="ngForm" (ngSubmit)="userRegister(userRf)">
        <label>UserName: </label>
        <input type="text" name="username" ngModel/><br/>
        <label>Password: </label>
        <input type="password" name="password" ngModel /><br/>
        <label>SureName: </label>
        <input type="text" name="surename" ngModel /><br/>
        <label>Address: </label>
        <input type="text" name="address" ngModel /><br/>
        <label>Contact-No: </label>
        <input type="number" name="contact" ngModel /><br/>
        <label>City: </label>
        <input type="text" name="city" ngModel /><br/>
        <label>State: </label>
        <input type="text" name="state" ngModel /><br/>
        <input type="submit" value="Register"/> &nbsp;
        <input type="reset" value="reset" />
    </form>
    <br/>
    {{userReg}}
</div>

