<div>
    <h2 align="center">Welcome to Admin Page of Bookess Application </h2>
    <hr/>
    <p>Welcome Admin,{{admin}} </p>
    <p align="right" style="border: chartreuse;"><input type="button" value="Logout" (click)="logout()" /></p>
</div>
