<hr/>
<h2 align="center"><p style="color: rgba(255, 0, 212, 0.836);">Welcome to Admin bookess application</p> </h2>

<div align="left">
        <h4>Admin SignIn</h4>
     <form #adminRef="ngForm" (ngSubmit)="adminlogin(adminRef)">
         <label>UserName: </label>
         <input type="text" name="username" ngModel/><br/>
         <label>Password: </label>
         <input type="password" name="password" ngModel/><br/>
         <input type="submit" value="Login"/>&nbsp;
         <input type="reset" value="reset"/>
     </form>
     <br/>
     {{loginadmin}}
</div>
<div align="right">     
     
     <h4>Admin SignUp</h4>
     <form #admreg="ngForm" (ngSubmit)="adminRegister(admreg)">
        <label>UserName: </label>
        <input type="text" name="username" ngModel/><br/>
        <label>Password: </label>
        <input type="password" name="password" ngModel/><br/>
        <input type="submit" value="Register"/>&nbsp;
        <input type="reset" value="reset"/>
    </form>
     <br/>
     {{regadmin}}

</div>

